{% extends "layout.html" %}
{% block body %}
<div class=pagewizard>
    <a href="/classifying/1">第一页</a>|
    <a href="/classifying/{{ pageid-1 }}">上一页</a>|
    <strong><a href="/classifying/{{pageid}}">共计{{ total }}条,当前{{ pageid }}/{{ page_max}}页</a></strong>|
    <a href="/classifying/{{ pageid+1 }}">下一页</a>|
    <a href="/classifying/{{ page_max }}">最后一页</a>
</div>
    <form action='{{ url_for('classifying')}}' method='post'>
    {% for domain in domains %}
        <li><a href="http://{{ domain.url }}" target="_blank">{{ domain.url }}</a>
        <input type=text name='{{ domain.url }}' value='{{ domain.url }}'>
        <select name='{{ domain.url }}_id'>
        {% for class in classes %}
            <option value={{ class.id }}>{{ class.id }} {{ class.name}}</option>
        {% endfor %}
        </select>
        </br>
    {% endfor %}
    <input type="submit" value="update">
    </form>
<div class=pagewizard>
    <a href="/classifying/1">第一页</a>|
    <a href="/classifying/{{ pageid-1 }}">上一页</a>|
    <strong><a href="/classifying/{{pageid}}">共计{{ total }}条,当前{{ pageid }}/{{ page_max}}页</a></strong>|
    <a href="/classifying/{{ pageid+1 }}">下一页</a>|
    <a href="/classifying/{{ page_max }}">最后一页</a>
</div>
{% endblock %}